  {% extends 'layout.html' %}
 {% block content %}
<br>
<div class="w3-content">
  <h2>All Brands</h2>
  

  <table class="w3-table-all">
    <thead>
      <tr class="w3-deep-orange">
        <th>Num</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    {% for brand in brands %}
    <tr>
      <td>{{loop.index}}</td>
      <td>{{brand.name}}</td>
      <td><a href="{{url_for('updatebrand',id=brand.id)}}"><button  class="w3-button w3-green">Edit</button></a></td>
      <td><a href="{{url_for('deletebrand',id=brand.id)}}"><button class="w3-button w3-red">Delete</button></a></td>
    </tr>
  {% endfor %}
  </table>
</div>
{% endblock %}